{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {% for i in 1..1000  %}
                <p>Ces allemands qu'ils CRÈVENT ! Ces SALES CHIENS d'allemands ! On n'en peut plus de ces allemands !</p>
            {% endfor %}
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}