{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6"><br><br>
            <h1 class="text-light text-center "><span class="badge bg-danger">Qui sommes nous ?</span></h1><br></div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2 d-none d-lg-block">
            {% for i in 1..24 %}
            <span class="badge bg-danger">Foot</span>
            <span class="badge bg-warning">Foot</span>
            <span class="badge bg-info">Foot</span>
            <span class="badge bg-success">Foot</span>
            <span class="badge bg-dark">Foot</span>
            {% endfor %}
        </div>
        <div class="col-lg-6">
            <p>Chez 'Allez le Foot !' Nous aimons le foot. Mais attention le vrai foot pas celui qu'on voit se jouer devant des centaines de milliers voire des millions de personnes qui ne vit que pour les caméras.
            <br> Réfléchissez bien, une chose accessible à tous et regardée par tous n'est pas une chose de grande valeur si tout le monde peut le détenir, tandis qu'une chose suivie par une poignée de personne représente un chose rare, une chose luxueuse.</p>
            <p>Nous, nous essaierons de vous apporter un oeil nouveau sur ce que l'on entend à propos du <b>FouteBalle</b> moderne. Nous avons à votre dispositions des experts professionnellement analystes et qui excellent dans l'art de la perfection analytique. Nos journalistes footballistiquement magnifiques ont travaillé dans ce domaines dans le passé, ce sont soit d'anciens footballeurs professionnels soit des consultants ayant tarvaillé pour les plus grands (Arté, Chasse et pêche, etc...).</p>
            <p>Vous apprendrez à vivre foot. Manger foot. Dormir foot. Prendre une douche foot. Déboucher les toilettes foot. Se raser la moustache foot. Enfin vous avez compris.
            <br>Des formations sont d'ailleurs prévues pour le futur du site. (Regardez votre compte CPF dès maintenant !) Ces formations sont très valorisantes professionnellement, des études congolaises ont d'ailleurs démontré en 2011 que 100% des milliardaires avaient déjà entendu parler de foot !</p>
            <p>L'inscription au site et la lecture des articles sont aujourd'hui gratuits et en libre-accès, malheureusement la hausse du prix du carburant, la guerre en Ukraine et la fonte des glaces ne nous permettent pas de continuer ainsi.
            <br>Prochainement, l'inscription qui vous permettra de lire tous les articles du site sera à 90€/mois seulement !</p>
            <p>Si vous êtes jeune ou tout simplement un sale pauvre (la honte un peu), voici un site ou vous pouvez investir sur des cryptomonnaies très fiables :<a href="https://beincrypto.com/">BeInCrypto</a>. Ce site est bien entendu une propriété de 'Allez le Foot !'. Ce site est 100% fiable, 100% transparent, 0% inquiétude ! Si vous avez du mal à saisir comment ça marche n'hésitez pas à nous envoyer une photo de votre carte bancaire (recto-verso), nous nous occupons de tout ! </p>
            <p>Pour résumer, l'esprit de ce site est axé sur <a href="{{ path('app_foot') }}">le foot</a>, <a href="{{ path('app_allemands') }}">les allemands</a> (oui, ces sales chiens) et un peu de finance. Nous espèrons que ce site saura satisfaire vos besoins.</p>
        </div>
        <div class="col-lg-2 d-none d-lg-block">
            {% for i in 1..24  %}
                <span class="badge bg-danger">Foot</span>
                <span class="badge bg-warning">Foot</span>
                <span class="badge bg-info">Foot</span>
                <span class="badge bg-success">Foot</span>
                <span class="badge bg-dark">Foot</span>
            {% endfor %}
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>





{% endblock %}
