{% extends 'base.html.twig' %}

{% block title %}User Profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h3 class="text-center">Modifier le mot de passe</h3>
                <form action="{{ path('app_user_edit_password', { 'id': user.id}) }}" method="post">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                    <div class="form-group">
                        <label for="old">Ancien mot de passe</label>
                    <input type="password" class="form-control" name="old" placeholder="Mot de passe actuel">
                    </div>
                    <div class="form-group">
                        <label for="new">Nouveau mot de passe</label>
                    <input type="password" class="form-control" name="new" placeholder="Nouveau mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="confirm">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" name="confirm" placeholder="Retaper votre nouveau mot de passe actuel">
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token('app_user_edit_password') }}"/><br>
                    <button class="btn btn-info" type="submit">Valider</button>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

{% endblock %}